<div class="container">
  <div class="row">
    <div class="col-md-3 padding-top-15">
      <div class="padding-left-43">
        Devises
      </div>
      <ul>
      <% @cryptos.each do |crypto| %>
        <li class="propre">
        <div class="item">
         <%= link_to crypto_path(crypto) do %>
          <%= cl_image_tag crypto.photo, height: 20, width: 20%> <%= crypto.name %>
          <%end %>

          </div>
        </li>
      <% end %>
      </ul>
      </div>
    <div class="col-md-6 padding-top-15">.col-md-6</div>
    <div class="col-md-3 padding-top-15">.col-md-3</div>
  </div>
</div>
