<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul>
          Devises
      <% @cryptos.each do |crypto| %>
        <li class="propre">

        </li>
      <% end %>
      </ul>
      </div>
    <div class="col-md-6"><%= @crypto.name %>
      <ul>
        <% @tweets.each do |tweet| %>
        <li>
          <%= tweet.text %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-3">.col-md-3</div>
  </div>
</div>
